<div class="user-list">
  <% if @users.count > 0 then %>
    <%= render @users %>
  <% else %>
    <p class='no-content'>No users created</p>
  <% end %>
</div>
<%
=begin%>
 <img src="https://source.unsplash.com/random/200x200?user=3" /> 
<%
=end%>
