<div class="user-detail">
  <%= render 'user', user: @user %>

  <div class="user-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <div class="user-recent-posts">
    <h3>Recent Posts</h3>
    <ul>
      <%= render partial: '/posts/post', collection:
      @user.recent_posts %>
    </ul>
    <%= link_to('View all posts', "/users/#{@user.id}/posts") %>
  </div>
</div>
